/* color, número que apresenra no figma
padding, margens interiores:top, left, bottom... margin: (topo)10 (direita)10 (baixo)10 (esquerda)10 
dá para fazer uma subclasse dentro dos elementos, ex class: row projeto  (html) e no css meter .projeto h3

hover, funciona quando passo o cursor sobre determinado elemento?

*/


.barratopo {
    background-color:#9C8686;
    height: 15px;
}

.logoglaura {
    margin-top: 20px;
    margin-bottom: 0px;
}

.logoglaura img:hover {
    transform: none;
    transition: none;
}


.nav-link {
    color: #FBF6F1;
}

.navbar .nav-item  {
justify-content:center;
}

.navbar .nav-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar .nav-item:hover  {
    font-weight: bold;
    color: #9C8686;
}

.navbar .navbar-nav .nav-item .active 
{ color:#5a5050; 
}

ul {
    list-style:disc;
}

h1, h2{ 
    text-align: center;
    color: black ;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*confirmar com o professor se posso fazer uma classe partilhada com os títulos dos grupos de 3*/
.titulos3 {
    color: black;
}

.conhecerautora {
    background-color: #D29696;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
}

.tituloautora {
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Sunmora', sans-serif;
}

.tituloautora1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Sunmora', sans-serif;
}


.corpoautora {
    margin-top: 30px;
    font-size: 20px;
}

.letragrande {
    color: #b86f6f;
    font-size: 35px;
    font-weight: bold;
}


a {
    color: black;
    text-decoration: none;
}


a:hover {
    color: #9C8686;
}

.img-fluid {
    padding-bottom: 10px;
}

.carousel-inner {
    padding-bottom: 10px;
}



/*breakpoints*/
a img:hover { 
    transition: transform 5s;
}



.footer .fa-brands:hover {
    color: #D29696;
}


.rodape {
    background-color: #9C8686;
    color: #FBF6F1;
    padding-top: 20px; /* aplica espaçamento interno superior no bloco rodapé */ 
}


.row {
    margin-bottom: 20px; /* para afastar as áreas seguintes da atual*/
}

/* para que os ícones não fiquem próximos do limite inferior do menu */
.social {
    margin-bottom: 10px;
}

.fa-brands {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0px;
    color: #D29696;

}

.navbar {
    text-transform: uppercase;
    background-color: #D29696;
}


/* Tipografia Libre Baskerville */ 
body{
    background-color: #FBF6F1;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.rodape .fa-brands {
    color:  white;
    margin-bottom: 20px;
}

.rodape .fa-brands:hover {
    color:#D29696;
}


.drt {
    text-align: right;
}

.search {
    background-color: #D29696;
    padding: 10px 12px;
    border-radius: 50px;
    color: #FFFFFF;
}
.search:hover {
    background-color: #FFFFFF;
    color: #D29696;
}

.social .fa-brands:hover {
    color:#9C8686;
}

.titulosartigos {
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
        font-size: xx-large;
}

.titulosartigos2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titulosartigosECOBELEZA {
     font-family: "Libre Baskerville", serif;
     font-weight: 700;
     font-style: normal;
     font-size: xx-large;
     text-align: center;
}

.titulosartigosECOBELEZA .subtitulos {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 15px;
    font-size: small;
    text-align: center;
    padding-top: 20px;
}

.centrar-vertical .subtitulos{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
.subtitulos {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 15px;
    font-size: small;
    text-align: center;
}

.subtitulos:hover{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 15px;
    font-size: small;
    text-align: center;
    color: #5a5050;
}

.subtitulos1 {
    font-size: 20px;
}


p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
 }

.drop-cap::first-letter {
    float: left;
    font-size: 5em;
    margin: 0 .1em 0 0;
    line-height: 0.85;
}



iframe {
    border: none; 
}

.centrar-vertical {
	/* utiliza um flexbox layout 
    https://www.w3schools.com/css/css3_flexbox.asp */
	display: flex;
	
	/* https://www.w3schools.com/css/css3_flexbox_container.asp#flex-direction  */
	flex-direction: row;
	
	/* https://www.w3schools.com/css/css3_flexbox_container.asp#align-items */
	align-items: center;
}


.artigopele li {
    list-style: none;
}

.artigopele ol {
    padding-left: 0px;
}

.link-titulo {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.pixel {
    width: 60%;
    height: 1px;
    position: relative;
    left: 4px;
}

.centrado {
    text-align: center;
}


.carousel-caption {
    color: black;
    bottom: -6.75rem;
    position: static;
    text-align: left;
}

.carousel-caption  h5 {
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color:#FBF6F1;
    background-color: #9C8686;
}

.carousel-caption  p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}


.carrosselecobeleza
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    margin-bottom: 100%;
}

.carrosselecobeleza .carousel-indicator-width {
    margin-bottom: 70px;
}

.carrosselecobeleza .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px; 
  width: 30px;  
}

.carrosselecobeleza .carousel-control-prev,
.carrosselecobeleza .carousel-control-next {
  top: 10px; /* Ajusta a distância do topo */
  bottom: 90px ; /* Remove a propriedade bottom */
  transform:none; /* Remove a transformação vertical */
}


.carrosselindex .carousel-control-next {
  top: 10px; /* Ajusta a distância do topo */
  bottom: 90px ; /* Remove a propriedade bottom */
  transform:none; /* Remove a transformação vertical */
}

.carrosselindex .carousel-control-prev {
    top: 100px; /* Ajusta a distância do topo */
    bottom: 0px ; /* Remove a propriedade bottom */
    transform:none; /* Remove a transformação vertical */
  
}

.fa-xmark {
    font-size: 30px;
}
/*dúvidas:
1.Tenho imagens pequenas que quero maiores.
2. lista ordenada não está com os números no centro
3.como colocar video centrado
4. explicar problemas do carrossel 
5.Explicar breakpoints
6. Como aquilo de diminuir peso das imagens, githup e depois w3?


3.coloocar alt nas imagens texto para invisuais
wetransfer.*/


@media (max-width: 768px) {
    .search {
        position: relative;
        bottom: 30px;
    }
    .titulosartigosECOBELEZA {
        font-size: 15px;
    }

    .letragrande {
        font-size: x-large;
    }
}

@media (max-width: 490px) {
    .letragrande {
        font-size: large;
    }
}
